@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');
body {
    margin:0;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/*Header*/
header {
    position: absolute;
    left:0;
    top:0;
    width: 100px;
}

header nav {
    position: fixed;
    left: 30px;
    top:30px;
    z-index: 10;
}

header nav a.nav-trigger {
    position: absolute;
    height: 60px;
    width: 60px;
    left: 0;
    top: 0;
    z-index: 12;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
header nav a.nav-trigger span {
    height: 2px;
    width: 16px;
    background-color: #ffffff;
    display: inline-block;
    position: relative;
    transition: all .3s ease;
   }

header nav.nav-is-visible a.nav-trigger span {
    background-color: transparent;
}

header nav a.nav-trigger span::before {
    content: '';
    height: 2px;
    width: 16px;
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: 0;
    transform: translateY(6px);
    transition: all 0.3s ease;

}

header nav.nav-is-visible a.nav-trigger span::before {
    transform: rotate(45deg);
}

header nav a.nav-trigger span::after {
    content: '';
    height: 2px;
    width: 16px;
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: 0;
    transform: translateY(-6px);
    transition: all 0.3s ease;
}

header nav.nav-is-visible a.nav-trigger span::after {
    transform: rotate(-45deg);
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 50px 0px 20px;
    position: relative;
    z-index: 11;
    visibility: hidden;
}

header nav.nav-is-visible ul {
    visibility: visible;
}


header nav ul li {
    display: block;
}

header nav ul li a {
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    transition: all 0.3s ease;
    display: inline-block;
}

header nav.nav-is-visible ul li a {
    animation: nav 0.15s ease forwards; 
}

header nav ul li:nth-child(2) a {
    animation-delay: 0.1s;
}

header nav ul li:nth-child(3) a {
    animation-delay: 0.2s;
}

header nav ul li:nth-child(4) a {
    animation-delay: 0.3s;
}

header nav ul li:nth-child(5) a {
    animation-delay: 0.4s;
}


@keyframes nav {
    0% {
        opacity:0;
        transform: translateX(-15px);
    }
    to {
        opacity:1; 
        transform: translateX(0);
    }
}
header nav ul li a.hover {
    color: #dda51e;
}

header nav ul li a.active {
    color:#dda51e;
}

header nav ul li a.active span{
    border-right: 3px solid #dda51e;
}

header nav ul li a span {
    width: 60px;
    text-align: center; 
    margin-right: 10px;
    transition: all 0.3s ease;
}

header nav ul li a.hover span {
    margin-right: 15px;

}

header nav span.stetchy-nav-bg {
    position: absolute;
    left:0;
    top:0;
    width: 60px;
    height: 60px;
    background-color: #333333;
    border-radius: 30px;
    transition: all .3s ease;
}

header nav.nav-is-visible span.stretchy-nav-bg {
    height: 100%;

}
/*Home*/
.home {
    background-image: url('images/background.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.home .overlay {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: #000;
    opacity: 0.8;
    z-index:1;  
}

.home .home-content {
    flex-basis: 100%;
    flex-basis: 100%;
    height: 100vh;
    z-index: 2; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home .home-content .pic-box {
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 25px 0 15px;
    display: flex;
    justify-content: flex-end;



}
.home .home-content .pic-box .pic {
    height:320px;
    width: 320px;
    border-radius: 50%;
    background-image: url("images/about.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border:10px solid rgba(0,0,0,0.5);
}

.home .home-content .text {
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 15px;
}

.home .home-content .text h3 {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    margin: 5px 0;
    padding: 0;

}

.home .home-content .text h1 {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 5px 0px;
    padding: 0;

}

.home .home-content .text h1 span{
    font-weight: 500;
    color: #dda51e;
}

.home .home-content .text p {
    font-size: 16px;
    color: #ffffff;
    line-height: 30px;
    font-weight: 400;
    margin: 0 0 25px; 
}
.home .home-content .text .home-btns .btn-bg {
    margin-right: 20px;
}

.btn-bg {
    background-color: #dda51e;
    border: 1px solid #dda51e;
    padding: 10px 30px;
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-radius: 25px;
    transition: all .5s ease;
}

.btn-bg:hover {
    background-color: transparent;
    color: #dda51e;

}

.btn-bg span, .btn-link span {
    margin-right: 7px;

}

.btn-link {
    background-color: transparent;
    border: 1px solid #dda51e;
    padding: 10px 30px;
    display: inline-block;
    color: #dda51e;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-radius: 25px;
}

.btn-link:hover { 
    background-color: #dda51e;
    color: #ffffff;
}